[Unit]
Description=Graph 2 AutoTask
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/opt/graph2autotask/Graph2AutoTask/bin/Release/netcoreapp3.1/Graph2AutoTask
User=autotask
Group=autotask

[Install]
WantedBy=multi-user.target
